<div class="card mt-3 shadow">
    <div class="card-body">
        <h2 class="text-center">OTP</h2>
        <div *ngIf="errorMessage" class="alert alert-danger pb-3" role="alert">
            {{errorMessage}}
        </div>

        <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">OTP</label>
                <input type="number" class="form-control" formControlName="otp" />
            </div>

            <div class="form-group pt-3">
                <button [disabled]="!otpForm.valid" type="submit" class="btn btn-primary">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>